.card {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px;
}

h1 {
  text-align: center;
}

.hide {
  display: none;
}
.show {
  display: contents;
}
.parkCard {
  position: absolute;
  margin-top: 50px;
}
.navbar-light .navbar-brand {
  color: white;
  font-size: 50px;
}
