.root {
    font-family: 'Roboto', sans-serif;
}


.navbar-light .navbar-brand {
    color: white;
    font-size: 50px;
    margin: auto;
}

.row {
    margin: auto;
}

.btn {
    background-color: seagreen;
    border-color: seagreen;
    display: flex;

    margin-bottom: 15px;
    justify-content: center;
    
}

.search-text {
    padding-left: 3%;
    margin-top: 25px;
    display: flex;
}

.saved-park {
    padding-left: 16px;
    display: flex;
}